.Container {
    animation: fadeIn 0.5s ease-in-out forwards, slideIn 0.3s ease-in-out; /* Adiciona as animações de fade e slide */
    z-index:9999;
}

.Box {
    width: 100vw;
    height: 800px;
    background-color: rebeccapurple;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
